.container_card_perfil{
    display: flex;
    padding: 20px;
    gap: 10px;
    border-radius: 30px;
    border: 2px solid rgb(136, 136, 136);
    width: 26%;
    min-height: 500px;
    background-color: rgba(180, 180, 180, 0.5);
    flex-direction: column;
    transition: 0.2s;
    text-decoration: none;
    color: var(--text-color);
}

.container_card_perfil .titulo_torneio_card{
    padding: 0;
    font-size: 40px;
}

.container_card_perfil:hover{
    box-shadow: 0 0 20px #5b36ff;
    border-color:white;
    transform: scale(1.02);
}

.container_card_perfil img{
    width: 100%;
    height: 60%;
    border-radius: 30px;
    object-fit: cover;
}

.container_card_perfil .categorias{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.container_card_perfil .categorias p{
    padding: 2px 10px;
    border-radius: 20px;
}

.container_card_perfil .categorias :nth-child(1){
    background-color: #FF6A00;
}

.container_card_perfil .categorias :nth-child(2){
    background-color: #5b36ff;
}

.container_card_perfil .categorias :nth-child(3){
    background-color: #A020F0;
}

.infos_extras{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.barra_de_conclusao{
    height: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
}

.barra_de_conclusao_interna{
    height: 100%;

    background-color: #5b36ff;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .container_card_perfil{
        width: 40%;
    }
}


@media (max-width: 768px) {

    .container_card_perfil{
        width: 40%;
        padding: 10px;
        border-radius: 15px;
        min-height: 300px;
        height: auto;
    }
    
    .container_card_perfil img{
        height: 50%;
    }

    .container_card_perfil .titulo_torneio_card{
        font-size: 30px;
    }

    .infos_extras{
        display: none;
    }
}

@media (max-width: 640px) {
    .container_card_perfil .titulo_torneio_card{
        font-size: 22px;
    }
}